<div class="ca-number-display-container">
  <span class="ca-number-display-text">AC</span>
</div>
<div class="ca-numberpad-container noselect">
  <div class="ca-row-container">
    <div class="ca-item-container">
      <div class="ca-button unary-operator">
        <span class="ca-button-text">AC</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button unary-operator">
        <span class="ca-button-text">+/-</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button unary-operator">
        <span class="ca-button-text">%</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button operator">
        <span class="ca-button-text">/</span>
      </div>
    </div>
  </div>
  <div class="ca-row-container">
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">7</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">8</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">9</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button operator">
        <span class="ca-button-text">x</span>
      </div>
    </div>
  </div>
  <div class="ca-row-container">
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">4</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">5</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">6</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button operator">
        <span class="ca-button-text">_</span>
      </div>
    </div>
  </div>
  <div class="ca-row-container">
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">1</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">2</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">3</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button operator">
        <span class="ca-button-text">+</span>
      </div>
    </div>
  </div>
  <div class="ca-row-container">
    <div class="ca-item-container">
      <div class="ca-button unary-operator">
        <span class="ca-button-text">i</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button number">
        <span class="ca-button-text">0</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button unary-operator">
        <span class="ca-button-text">.</span>
      </div>
    </div>
    <div class="ca-item-container">
      <div class="ca-button operator">
        <span class="ca-button-text">=</span>
      </div>
    </div>
  </div>
</div>
